*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  text-align: center;
  font-size: large;
}

.title{
    background-color: rgb(195, 249, 231);
    padding: 15px;
    margin: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: x-large;
    color: rgb(78, 6, 150);
    border-color: black;
    border: 20px;
}

.container{
    background-color: rgb(167, 232, 173);
    padding: 8px;
    margin: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(45, 4, 84);
    border: 10px;
    border-color: black;
}